{% extends 'layout/base.twig'%}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}
	

	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item"  style="background-image: url({{ highlight.url }});">
						<h1>{{ highlight.title }}</h1>
					</div>
				</div>
			</div>
			<div class="thumbnail">
				<div class="columns is-marginless"> <!--ใส่maginless เพื่อเอาขอบออก-->
					{% for item in thumbnail %}
						<div class="column thumbnail-item is-paddingless" style="background-image: url({{ item.url  }});">
							{{ item.title }}
						</div>
					{% endfor %}
				</div>
			</div>	
		</section>
		<section class="section we-present">
			<div class="container"> <!--กำหนดขนาcontent-->
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTET</a>
					</div>
					<div class="column has-text-centered">
						<a href="#">WE PRESENT</a>
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>

				<div class="columns is-multiline">
					<a href="#" class="column is-one-third"> <!--คือ 1น 3 =4นั่นแหละ แบ่งcolumn-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1"> <!--ใส่ alt เพื่อที่ถ้ารูปไม่โหลดจะขึ้น textอะไร-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">
									Our Garden is Organic.
								</h3>
								<h4 class="subtitle is-6">
									Aunty
								</h4>
								<p>
									 Our Product is for Healthy People. or People who wants to be Healthy.
								</p>
							</div>
						</div>
					</a> 
					<a href="#" class="column is-one-third"> <!--คือ 1น 3 =4นั่นแหละ แบ่งcolumn-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-2"> <!--ใส่ alt เพื่อที่ถ้ารูปไม่โหลดจะขึ้น textอะไร-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">
									Our Garden is Organic.
								</h3>
								<h4 class="subtitle is-6">
									Aunty
								</h4>
								<p>
									 Our Product is for Healthy People. or People who wants to be Healthy.
								</p>
							</div>
						</div>
					</a> 
					<a href="#" class="column is-one-third"> <!--คือ 1น 3 =4นั่นแหละ แบ่งcolumn-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3"> <!--ใส่ alt เพื่อที่ถ้ารูปไม่โหลดจะขึ้น textอะไร-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">
									Our Garden is Organic.
								</h3>
								<h4 class="subtitle is-6">
									Aunty
								</h4>
								<p>
									 Our Product is for Healthy People. or People who wants to be Healthy.
								</p>
							</div>
						</div>
					</a> 
					<a href="#" class="column is-one-third"> <!--คือ 1น 3 =4นั่นแหละ แบ่งcolumn-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-4"> <!--ใส่ alt เพื่อที่ถ้ารูปไม่โหลดจะขึ้น textอะไร-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">
									Our Garden is Organic.
								</h3>
								<h4 class="subtitle is-6">
									Aunty
								</h4>
								<p>
									 Our Product is for Healthy People. or People who wants to be Healthy.
								</p>
							</div>
						</div>
					</a> 
					<a href="#" class="column is-one-third"> <!--คือ 1น 3 =4นั่นแหละ แบ่งcolumn-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-5"> <!--ใส่ alt เพื่อที่ถ้ารูปไม่โหลดจะขึ้น textอะไร-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">
									Our Garden is Organic.
								</h3>
								<h4 class="subtitle is-6">
									Aunty
								</h4>
								<p>
									 Our Product is for Healthy People. or People who wants to be Healthy.
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third"> <!--คือ 1น 3 =4นั่นแหละ แบ่งcolumn-->
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-6"> <!--ใส่ alt เพื่อที่ถ้ารูปไม่โหลดจะขึ้น textอะไร-->
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">
									Our Garden is Organic.
								</h3>
								<h4 class="subtitle is-6">
									Aunty
								</h4>
								<p>
									 Our Product is for Healthy People. or People who wants to be Healthy.
								</p>
							</div>
						</div>
					</a>  
				</div>
			</div>
		</section>
	</main>
{% endblock %}