

.highlight {
  margin-bottom: 0 !important;
}

.highlight .highlight-item {
  height: 416px;
  background: url(/assets/images/home/banner/highlight.jpg) no-repeat center/cover;
    color: #DFD4D4;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.highlight .highlight-item h1 {
  font-size: 75px;
  font-family: agency fb;
}

.thumbnail {
  border-top: .1rem solid #ffffff; /*ประเภทขอบ*/
}

.thumbnail .thumbnail-item {
  border-right: .1rem solid #ffffff;
}

.thumbnail .thumbnail-item:last-child {
  border: none;
}

/* .thumbnail .thumbnail-item + .thumbnail-item {
  border-left: .1rem solid red;
} */

.thumbnail .thumbnail-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #95999C; /*สีของtext*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem; 
  font-family: agency fb;
  font-size: 20px;
}