<!DOCTYPE html>
<html lang="en"> 
<!--ภาษาหลักคือภาษาอังกฤษ คือการกำหนดภาษาหลัก-->
<head>
	<meta charset="UTF-8"> 
	<!--//ฟอนต์UTFขนาด8-->
	<title>CMM 19</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">

	<link rel="stylesheet" href="/assets/main.css">
	{% block stylesheet %}{% endblock %}
</head>	
<body>

	{% include 'layout/header.twig' ignore missing %}

	{% block content %}
	{% endblock %}

</body><!--เก็บข้อมูลที่จะแสดงผลในห้นาเว็บ-->
</html>
