
<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto"><!-- images เป็น inline จะอยู่บรรทัดเดียวกัน เรียงต่อๆกัน-->
		</div> <!--คิดไม่ออกก็คลุม div ไปก่อน  div อยู่ในหวมด display--> 
			<nav class="navbar-tabs"> <!-- ใส่ class ทำให้ select ใน CSSได้ง่ายขึ้น คือถ้ามี . มันก็คือ classนั่นแล-->
				<a href="#" class="navbar-item">LOCATION</a> <!--tag a ใส่ให้ลิงค์ได้ ,ใส่#ไว้ไม่ให้มันไปไไหน ,เปลี่ยน workเป็นอย่างอื่นได้-->
				<a href="#" class="navbar-item">TIME</a>
				<a href="#" class="navbar-item">PRICE</a>
				<a href="#" class="navbar-item">RATE</a>
				<a href="#" class="navbar-item">CHECK-IN</a>
				<a href="#" class="navbar-item">NEARBY</a>
				<a href="#" class="navbar-item">MY FAVORITE</a>
				<a href="#" class="navbar-item">CONTACT US</a>	
			</nav> <!--เป็น tag เฉพาะของ Navigation bar ใช้tagอื่นก็ได้ แต่ใช้ถูกตัวของมันจะดีกว่า-->
	</header>